<mat-card class="">
  <mat-card-title class="">Nova Ordem de Servico</mat-card-title>
  <form>
    <app-patient-read (patient)="pacienteRecebido($event)"></app-patient-read>
    <app-collection-post-read (collectionPost)="postoRecebido($event)"></app-collection-post-read>
    <app-doctor-read  (doctor)="medicoRecebido($event)"  ></app-doctor-read>
    <app-exam-read (exam)="examesSelecionados($event)" ></app-exam-read>
  </form>

  <button mat-raised-button (click)="saveOrderService()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="navigateToListOrders()">Cancelar</button>
</mat-card>
